common:
  data_dir_root: $GITDIR/Dataset
  dataset_splits: $GITDIR/3DCDC-NAS/dataset_splits

  ### original pre trained checkpoint
  init_model: $GITDIR/checkpoints/epoch26-MK-valid_0.6004-test_0.6224.pth
  ### our trained attempt
  # init_model: $GITDIR/checkpoints/epoch3-MK-valid_0.8763-test_0.8776.pth

#-------basic parameter----------
  visname: AutoGesture_AUG_RGBD # modify
  num_classes: 249 # 249
  batch_size: 2  # 12
  testing_batch_size: 16  # 200
  num_workers: 2 # 4
  learning_rate: 0.01 # modify 0.01
  momentum: 0.9 # 0.9
  weight_decay: 0.00005
  init_epochs: 0 # modify
  max_epochs: 5 # modify
  print_freq: 5 # 10
  pretrain: True # modify
#-------------end----------------

#-------additional parameter-----
  sample_duration: 32 # modify 32

  # AutoGesture_searched
  init_channels8: 48
  init_channels16: 32
  init_channels32: 16
  layers: 12
#-------------end----------------
